<h2>
    A Spectrum of Courses for Aspiring Medics
</h2><br>
<p>
    TMA offers a comprehensive range of medical programs catering to diverse academic aspirations. The crown jewel is
    undoubtedly the MBBS program, a rigorous six-year course meticulously designed to equip students with the
    theoretical knowledge and practical skills necessary to excel as qualified physicians.
</p><br>
<table>
    <tr>
        <td>
            Established
        </td>
        <td>
            2005
        </td>
    </tr>
    <tr>
        <td>
            University Type
        </td>
        <td>
            Government
        </td>
    </tr>
    <tr>
        <td>
            Recognition
        </td>
        <td>
            WHO and NMC approved
        </td>
    </tr>
    <tr>
        <td>
            Eligibility
        </td>
        <td>
            50% in Biology, Physics and Chemistry Aggregate
        </td>
    </tr>
    <tr>
        <td>
            Course
        </td>
        <td>
            MBBS (6 Years)
        </td>
    </tr>
    <tr>
        <td>
            NEET
        </td>
        <td>
            Yes, qualifying marks
        </td>
    </tr>
    <tr>
        <td>
            IELTS/TOEFL
        </td>
        <td>
            Not necessary
        </td>
    </tr>
    <tr>
        <td>
            language
        </td>
        <td>
            English
        </td>
    </tr>
</table><br>
<h2>
    Main Work of this University:
</h2><br>
<ul>
    <li>
        Educate highly qualified medical personnel to improve healthcare quality for the public.
    </li>
    <li>
        Lead the country in medical education: providing guidance to other institutions and conducting research in
        healthcare and public health.
    </li>
    <li>
        Shape the future of healthcare: identify new trends in education, emphasize preventive medicine, and consider
        environmental factors.
    </li>
    <li>
        Officially recognized as a "Higher Education Facility" by the State Testing Center.
    </li>
</ul><br>
<h2>
    Affiliation and Recognition of Tashkent Medical Academy:
</h2><br>
<ul>
    <b>
        <li>
            International Collaborations:
        </li>
    </b>
    <p>
        Partnerships with various foreign education and research organizations.
    </p><br>
    <b>
        <li>
            Globally Recognized:
        </li>
    </b>
    <p>
        Approved by WHO, NMC, and UNESCO.
    </p><br>
    <b>
        <li>
            Renowned Partners:
        </li>
    </b>
    <p>
        Collaborations with prestigious universities like Seoul University, Humboldt University, and Russian State
        Medical University.
    </p><br>
    <b>
        <li>
            Specialization Focus:
        </li>
    </b>
    <p>
        Partnerships with institutions focused on specific areas like Family Medicine Residency and Chonnam State
        University (Korea).
    </p>
</ul><br>
<h2>
    Reasons to Choose Tashkent Medical Academy for your MBBS Journey:
</h2><br>
<ul>
    <b>
        <li>
            Simplified Admission:
        </li>
    </b>
    <p>
        Unlike other destinations, pursuing MBBS at Tashkent Medical Academy requires no special degree. Your NEET
        scorecard is sufficient, making the application process smoother.
    </p><br>
    <b>
        <li>
            Safe and Secure Environment:
        </li>
    </b>
    <p>
        The university prioritizes student well-being and enforces a strict anti-ragging policy, ensuring a safe and
        positive learning environment.
    </p><br>
    <b>
        <li>
            Globally Recognized Degree:
        </li>
    </b>
    <p>
        Earn an internationally recognized MBBS degree from TMA, opening doors to diverse career opportunities
        worldwide.
    </p><br>
    <b>
        <li>
            Convenient Location:
        </li>
    </b>
    <p>
        Benefit from easy access to transportation near the academy, allowing for seamless travel and exploration.
    </p><br>
    <b>
        <li>
            Financial Support:
        </li>
    </b>
    <p>
        The university offers scholarship programs to eligible students, making quality medical education more
        accessible.
    </p>
</ul><br>
<h2>
    Bonus Reason:
</h2><br>
<p>
    <b>
        Enjoy the comfort and support of on-campus hostel facilities while pursuing your studies at TMA.
    </b>
</p><br>
<h2>
    The Fee Structure: Affordable Excellence
</h2><br>
<p>
    One of the most attractive aspects of studying MBBS in Uzbekistan at TMA is the affordable fee structure. Compared
    to other international medical destinations, TMA offers high-quality education at a fraction of the cost. The total
    program fee for the MBBS course is approximately 14 lakhs INR (subject to change), making it an accessible option
    for students seeking a world-class medical education without breaking the bank.
</p><br>
<table>
    <tr>
        <th>
            Years
        </th>
        <th>
            Tution Fees (USD)
        </th>
        <th>
            Hostel Fees (USD)
        </th>
    </tr>
    <tr>
        <td>
            1st year
        </td>
        <td>
            3500
        </td>
        <td>
            600
        </td>
    </tr>
    <tr>
        <td>
            2nd year
        </td>
        <td>
            3500
        </td>
        <td>
            600
        </td>
    </tr>
    <tr>
        <td>
            3rd year
        </td>
        <td>
            3500
        </td>
        <td>
            600
        </td>
    </tr>
    <tr>
        <td>
            4th year
        </td>
        <td>
            3500
        </td>
        <td>
            600
        </td>
    </tr>
    <tr>
        <td>
            5th year
        </td>
        <td>
            3500
        </td>
        <td>
            600
        </td>
    </tr>
    <tr>
        <td>
            6th year
        </td>
        <td>
            3500
        </td>
        <td>
            600
        </td>
    </tr>
</table><br>
<h3>
    Delving into the Syllabus: A Well-Structured Curriculum
</h3><br>
<p>
    TMA follows a well-structured curriculum aligned with international medical education standards. The MBBS program
    curriculum encompasses a blend of theoretical and practical training, ensuring a holistic learning experience.
</p><br>
<ul>
    <b>
        <li>
            Pre-clinical years:
        </li>
    </b>
    <p>
        This phase focuses on foundational subjects like anatomy, physiology, biochemistry, and pharmacology.
    </p><br>
    <b>
        <li>
            Clinical years:
        </li>
    </b>
    <p>
        Students delve deeper into specialized medical disciplines like internal medicine, surgery, pediatrics,
        obstetrics & gynecology, and more.
    </p><br>
    <b>
        <li>
            Intership:
        </li>
    </b>
    <p>
        The final year is dedicated to supervised clinical rotations in various hospital departments, providing students
        with invaluable hands-on experience.
    </p>
</ul><br>
<h2>
    Meet the Mentors: A Renowned Faculty
</h2><br>
<p>
    TMA takes immense pride in its esteemed faculty. The university houses a team of highly qualified and experienced
    professors, doctors, and researchers who are dedicated to imparting knowledge and nurturing the next generation of
    medical professionals. Their expertise, coupled with their passion for teaching, creates an enriching learning
    environment for students.
</p><br>
<ul>
    <li>
        Faculty of Medicine
    </li>
    <li>
        Faculty of Dentistry
    </li>
    <li>
        Faculty of Pharmacy
    </li>
    <li>
        Faculty of Neuroscience
    </li>
    <li>
        Faculty of Paediatrics
    </li>
    <li>
        Faculty of Surgery
    </li>
    <li>
        Faculty of Postgraduate Programs
    </li>
</ul><br>
<h3>
    A Home Away from Home: The Hostel Experience
</h3><br>
<p>
    TMA provides comfortable and well-equipped hostels for international students. These hostels offer a secure and
    supportive environment, fostering a sense of community and cultural exchange among students from diverse
    backgrounds.
</p><br>
<ul>
    <b>
        <li>
            Strict Access Control:
        </li>
    </b>
    <p>
        Turnstiles at entrances ensure only authorized individuals can enter, prioritizing student safety.
    </p><br>
    <b>
        <li>
            Dedicated Security:
        </li>
    </b>
    <p>
        Each dorm has individual district guards to maintain a secure environment.
    </p><br>
    <b>
        <li>
            Shared Living Spaces:
        </li>
    </b>
    <p>
        Each dorm provides common areas equipped with modern TVs and comfortable furniture, fostering a sense of
        community and interaction.
    </p><br>
    <b>
        <li>
            Essential Facilities:
        </li>
    </b>
    <p>
        All hostels offer kitchens, computer rooms with internet access, and a library to support your academic needs
        and leisure activities.
    </p><br>
    <b>
        <li>
            TMA Administration & Directorate of Dormitory:
        </li>
    </b>
    <p>
        Both entities work together to ensure efficient hostel management and adherence to regulations, creating a
        smooth experience for residents.
    </p>
</ul><br>
<h2>
    Charting Your Career Path: Stellar Placement Opportunities
</h2><br>
<p>
    TMA graduates are highly sought-after by healthcare institutions worldwide due to their strong academic foundation
    and practical training. The university actively assists its graduates in securing placements in esteemed hospitals
    and clinics across the globe.
</p><br>
<ul>
    <b>
        <li>
            Employment in Hospitals & Clinics:
        </li>
    </b>
    <p>
        Practice medicine in Uzbekistan or internationally.
    </p><br>
    <b>
        <li>
            Research & Academia:
        </li>
    </b>
    <p>
        Pursue research or a career in medical education.
    </p><br>
    <b>
        <li>
            Public Health Organizations:
        </li>
    </b>
    <p>
        Contribute to public health initiatives and global challenges.
    </p><br>
    <b>
        <li>
            Entrepreneurship:
        </li>
    </b>
    <p>
        Establish your own healthcare practice or venture.
    </p><br>
    <b>
        <li>
            Further Specialization:
        </li>
    </b>
    <p>
        Pursue postgraduate studies in specific medical fields.
    </p>
</ul><br>
<h3>
    Advantages of Studying MBBS at TMA:
</h3><br>
<ul>
    <b>
        <li>
            Affordable fee structure:
        </li>
    </b>
    <p>
        Compared to other international options, TMA offers exceptional value for money.
    </p><br>
    <b>
        <li>
            Internationally recognized degree:
        </li>
    </b>
    <p>
        The MBBS degree from TMA is recognized globally, opening doors to diverse career opportunities.
    </p><br>
    <b>
        <li>
            English medium of instruction:
        </li>
    </b>
    <p>
        This eliminates language barriers for international students.
    </p><br>
    <b>
        <li>
            Experienced faculty:
        </li>
    </b>
    <p>
        Learn from renowned professors and doctors.
    </p><br>
    <b>
        <li>
            Modern infrastructure:
        </li>
    </b>
    <p>
        TMA boasts state-of-the-art facilities to enhance the learning experience.
    </p><br>
    <b>
        <li>
            Multicultural environment:
        </li>
    </b>
    <p>
        Connect with students from various countries and broaden your horizons.
    </p>
</ul><br>
<h3>
    Eligibility Criteria for Applying to TMA:
</h3><br>
<ul>
    <li>
        Must have completed 12th standard with Physics, Chemistry, and Biology (PCB) and secured a minimum of 50% marks
        (40% for SC/ST/OBC candidates).
    </li>
    <li>
        Must be at least 17 years old in the year of admission.
    </li>
    <li>
        Must qualify for the university's entrance exam.
    </li>
</ul><br>
<h3>
    Documents Required:
</h3><br>
<ul>
    <li>
        Copy of Passport
    </li>
    <li>
        Marksheets copy
    </li>
    <li>
        Certified copy of Birth Certificates
    </li>
    <li>
        Medical certificates
    </li>
    <li>
        Receipts of Funds
    </li>
    <li>
        Admission Statements
    </li>
    <li>
        Invitation Letter
    </li>
    <li>
        Passport Size Photos0
    </li>
</ul><br>
<h2>
    Benefits of Studying MBBS in Uzbekistan:
</h2><br>
<ul>
    <b>
        <li>
            Affordable Tuition:
        </li>
    </b>
    <p>
        Compared to private medical institutes in some countries, Uzbekistan offers significantly lower costs.
    </p><br>
    <b>
        <li>
            Internationally Recognized Degrees:
        </li>
    </b>
    <p>
        Degrees are accredited by bodies like MCI and WHO, enabling global practice.
    </p><br>
    <b>
        <li>
            English Medium of Instruction:
        </li>
    </b>
    <p>
        Eliminates language barriers for international students.
    </p><br>
    <b>
        <li>
            High-Quality Education:
        </li>
    </b>
    <p>
        Universities boast well-equipped infrastructure and strong academic programs.
    </p>
</ul><br>
<h2>
    Our Assistance:
</h2><br>
<ul>
    <b>
        <li>
            Profile evaluation:
        </li>
    </b>
    <p>
        Assess your academic credentials and eligibility for admission.
    </p><br>
    <b>
        <li>
            University shortlisting:
        </li>
    </b>
    <p>
        Recommend suitable universities based on your profile and preferences.
    </p><br>
    <b>
        <li>
            Application preparation:
        </li>
    </b>
    <p>
        Assist in completing application forms and gathering necessary documents.
    </p><br>
    <b>
        <li>
            Admissions guidance:
        </li>
    </b>
    <p>
        Provide guidance and support throughout the application process.
    </p><br>
    <b>
        <li>
            Visa procedures:
        </li>
    </b>
    <p>
        Offer assistance with visa applications and related formalities.
    </p>
</ul><br>
<h3>
    Conclusion
</h3><br>
<p>
    Studying MBBS in Uzbekistan at TMA presents a unique opportunity for aspiring medical professionals. With its
    affordable fees, internationally recognized degree, and strong academic foundation, TMA empowers students to embark
    on a rewarding and fulfilling career in medicine. So, if you are passionate about medicine and seeking a world-class
    education at an accessible cost, TMA might just be the perfect stepping stone for your medical journey.Tashkent
    Medical Academy's hostels provide a safe, comfortable, and well-equipped living environment to international
    students, allowing them to focus on their studies and thrive in their academic journey.Remember to conduct thorough
    research and choose a reputable organization with a proven track record and a commitment to ethical practices.
</p><br>
<p>
    <b>
        For further information and Direct Admission + Tashkent Medical Academy, feel free to contact the MBBS
        Consultants in Uzbekistan. They can guide you through the application process and answer any questions you may
        have.
    </b>
</p>