<h2>
    Historical Roots and Modern Infrastructure:
</h2><br>
<p>
    Krasnoyarsk, the administrative center of the Krasnoyarsk Region, has a rich culture and a 400-year-old history. The
    city, situated on the banks of the Yenisei River and surrounded by breathtaking mountains, offers a serene and
    peaceful environment for academic pursuits. The university's campus, located in the historic center of Krasnoyarsk,
    reflects its commitment to both tradition and modernity.
</p><br>
<table>
    <tr>
        <td>
            Established
        </td>
        <td>
            1942
        </td>
    </tr>
    <tr>
        <td>
            University Type
        </td>
        <td>
            Public
        </td>
    </tr>
    <tr>
        <td>
            No. of Faculties
        </td>
        <td>
            more than 6 faculties
        </td>
    </tr>
    <tr>
        <td>
            Courses
        </td>
        <td>
            MBBS (5+1 year Internship)
        </td>
    </tr>
    <tr>
        <td>
            Eligibility
        </td>
        <td>
            50% in BIology, Chemistry, and Physics
        </td>
    </tr>
    <tr>
        <td>
            NEET
        </td>
        <td>
            Mandatory
        </td>
    </tr>
    <tr>
        <td>
            IELTS/TOEFL
        </td>
        <td>
            Not Necessary
        </td>
    </tr>
    <tr>
        <td>
            Recognition
        </td>
        <td>
            WHO and NMC approved
        </td>
    </tr>
    <tr>
        <td>
            Language
        </td>
        <td>
            English
        </td>
    </tr>
</table><br>
<h2>
    Why Study MBBS at Krasnoyarsk State Medical University?
</h2><br>
<ul>
    <li>
        The university offers top-notch education at an affordable cost.
    </li>
    <li>
        International students are encouraged, providing a great opportunity for a diverse learning experience.
    </li>
    <li>
        Students at Krasnoyarsk State Medical University have access to state-of-the-art resources, enhancing their
        understanding of various medical topics.
    </li>
    <li>
        The university offers research programs, allowing students to explore diverse medical perspectives.
    </li>
    <li>
        Graduates are well-prepared to face challenges beyond the university environment.
    </li>
    <li>
        The university equips students with the necessary skills and knowledge to establish real-world medical services.
    </li>
    <li>
        Krasnoyarsk State Medical University actively assists students in finding employment opportunities.
    </li>
    <li>
        Campus interviews provide a platform for qualified candidates to secure favorable positions.
    </li>
    <li>
        The language of instruction is English, ensuring that international students can easily follow the curriculum.
    </li>
    <li>
        The university's tuition is affordable, making education accessible to a broader student base.
    </li>
    <li>
        The campus offers all necessary amenities, creating a conducive learning environment.
    </li>
</ul><br>
<h3>
    Courses Offered:
</h3><br>
<ul>
    <li>
        Krasnoyarsk State Medical University provides a diverse range of courses, catering to various disciplines within
        the medical field.
    </li>
    <li>
        Krasnoyarsk State Medical University provides a diverse range of courses, catering to various disciplines within
        the medical field.
    </li>
    <li>
        From General Medicine and Pediatrics to Stomatology, Pharmacy, and Medical Cybernetics, the university ensures a
        comprehensive and specialized curriculum.
    </li>
    <li>
        The faculty comprises top-notch professors who are recognized nationally and internationally for their
        expertise, guaranteeing students the highest level of training and grooming.
    </li>
</ul>
<h3>
    Educational Standards and Global Recognition:
</h3><br>
<ul>
    <li>
        The university offers courses in both Russian and English, with a focus on providing quality education to a
        diverse student population.
    </li>
    <li>
        Krasnoyarsk State Medical University follows an international curriculum, ensuring that its medical degree is
        recognized globally.
    </li>
    <li>
        The medical program is approved by the Medical Council of India (now known as the National Medical Commission)
        and the World Directory of Medical Schools, opening doors for graduates to practice medicine worldwide.
    </li>
</ul><br>
<h2>
    Teaching Staff and State-of-the-Art Facilities:
</h2><br>
<ul>
    <li>
        With 150 professors and 450 PhD scholars, the teaching staff at Krasnoyarsk State Medical University is a
        powerhouse of knowledge and experience.
    </li>
    <li>
        The university boasts 10 scientific-educational centers, recognized scientific schools, and modern facilities
        such as classrooms, research laboratories, a linguistic center, and a sports center.
    </li>
    <li>
        A notable feature is the state-of-the-art center for simulation medical training, where students refine their
        practical skills using virtual training devices and humanized robots.
    </li>
</ul><br>
<h2>
    Student Life and Extracurricular Activities:
</h2><br>
<ul>
    <li>
        More than 5,000 students, including nearly 300 international students, contribute to the vibrant student
        community at the university.
    </li>
    <li>
        The campus is equipped with essential amenities such as a library, gym, ski lodge, swimming pool, and more.
    </li>
    <li>
        Krasnoyarsk State Medical University places equal emphasis on extracurricular activities, organizing various
        sports events and supporting student teams in competitions like basketball, soccer, volleyball, and swimming at
        regional and national levels.
    </li>
</ul><br>
<h2>
    Advantages of Studying MBBS at Krasnoyarsk State Medical University:
</h2><br>
<ul>
    <li>
        Graduates are eligible to return to India and work, as the university is authorized by the Medical Council of
        India.
    </li>
    <li>
        The university employs professionals and instructors with advanced qualifications, ensuring a high standard of
        education.
    </li>
    <li>
        Modern amenities such as internet access, audio-video systems, and advanced equipment are available in
        classrooms and laboratories.
    </li>
    <li>
        Admission to Krasnoyarsk State Medical University does not require any donation, making it an affordable option
        for aspiring medical professionals.
    </li>
    <li>
        The university fosters an environment where students can enhance their professional abilities with guidance from
        some of the country's top experts.
    </li>
    <li>
        The university fosters an environment where students can enhance their professional abilities with guidance from
        some of the country's top experts.
    </li>
    <li>
        Krasnoyarsk State Medical University prioritizes the development of effective medical and social technologies.
    </li>
    <li>
        Emphasis on new scientific research contributes to successful work for the benefit of society.
    </li>
</ul><br>
<h2>
    A Confluence of Academia and Arts:
</h2><br>
<p>
    While sports and education take precedence in the student community, KrasSMU has a longstanding tradition of
    promoting artistic activities. The university actively encourages students to participate in dance, music, painting,
    drama, and acting. The vibrant artistic groups, including music clubs, choirs, and dance companies, showcase the
    diverse talents of the student body. Competing in various competitions and art contests, students demonstrate their
    artistic prowess, making KrasSMU a hub for both medical and artistic excellence.
</p><br>
<h3>
    Faculties :
</h3><br>
<ul>
    <li>
        Faculty of Pharmacy
    </li>
    <li>
        Faculty of Clinical Psychology
    </li>
    <li>
        Faculty of Stomatology
    </li>
    <li>
        Faculty of General Medicine
    </li>
    <li>
        Faculty of Medical Cybernetics
    </li>
    <li>
        Faculty of Pediatrics
    </li>
</ul><br>
<h2>
    Residences and Collaborations:
</h2><br>
<p>
    The university's commitment to providing a conducive learning environment is evident in its six well-equipped
    residences. These residences, equipped with classrooms and gyms, cater to local and international students, ensuring
    a comfortable and nurturing atmosphere for their academic journey.
</p><br>
<p>
    KrasSMU goes beyond geographical boundaries in its pursuit of academic excellence. Engaging in joint scientific and
    educational programs with prestigious universities and scientific centers in Moscow, Saint-Petersburg, Saratov,
    Tomsk, and Novosibirsk, the university also collaborates with international partners in Japan, France, Italy,
    Germany, and other countries. Over 25 years, KrasSMU has fostered extensive student exchange programs with Japanese
    universities, enhancing the global perspective of its students.
</p><br>
<h3>
    English as a Foreign Language Entrance Test:
</h3><br>
<ul>
    <li>
        Recognizing the global nature of medical education, KrasSMU conducts an English as a Foreign Language entrance
        test for international students.
    </li>
    <li>
        This test assesses the students' proficiency in spoken English, ensuring they can seamlessly navigate the
        English-medium education provided by the university.
    </li>
    <li>
        The emphasis on English proficiency is a testament to KrasSMU's commitment to offering a comprehensive learning
        experience for students from around the world.
    </li>
</ul><br>
<h3>
    Admissions and Documentation:
</h3><br>
<ul>
    <li>
        KrasSMU sets clear criteria for admission.
    </li>
    <li>
        Students must present their 10th and 12th board certificates and marksheet.
    </li>
    <li>
        A scanned copy of their passport.
    </li>
    <li>
        Undergo a medical check-up.
    </li>
    <li>
        Provide a police clearance certificate.
    </li>
    <li>
        Submit NEET qualification certification.
    </li>
    <li>
        Present financial statements as part of the documentation process.
    </li>
</ul><br>
<p>
    These meticulous requirements ensure that students admitted to KrasSMU meet the necessary academic and health
    standards.
</p><br>
